<%= form_tag({:action => :edit_commit}, {:name => 'resorts_form'}) do %>
<%= hidden_field_tag('resort[id]', @item.id)  %>
<table class = "edit">
  <caption>Редактирование работника</caption>   
  <thead>
    <tr>
      <th colspan = "2">
        <%= submit_tag('Изменить')  %>
        <%= button_to_function('Отмена',
          "document.resorts_form.action = '#{url_for(:action => :list)}';
           document.resorts_form.submit();")  %>
      </th>
    </tr>
  </thead>
   <tbody>
    <tr>
         <th>Фамилия:</th>
          <td><%= text_field_tag('resort[name]', '', :size => 20)  %></td>
        </tr>
        <tr>
          <th>Имя:</th>
          <td><%= text_field_tag('resor[state]', '', :size => 20)  %></td>
        </tr>
         <tr>
          <th>Отчество:</th>
          <td><%= text_field_tag('resort[tip]', '', :size => 20)  %></td>
        </tr>
        <tr>
          <th>Адрес:</th>
          <td><%= text_field_tag('resort[rank]', '', :size => 20)  %></td>
        </tr>
  </tbody>
</table>
<% end %>
